auth_enabled: false
server:
  http_listen_port: 3100
  log_level: info
  grpc_listen_port: 0
common:
  path_prefix: /loki
  ring:
    instance_addr: 127.0.0.1
    kvstore:
      store: inmemory
schema_config:
  configs:
    - from: 2020-10-24
      store: boltdb-shipper
      object_store: filesystem
      schema: v11
      index:
        prefix: index_
        period: 24h
storage_config:
  filesystem:
    directory: /loki/chunks
  boltdb_shipper:
    active_index_directory: /loki/index
    cache_location: /loki/cache
    shared_store: filesystem
compactor:
  working_directory: /loki/compactor
limits_config:
  allow_structured_metadata: true
  max_query_length: 3600
  reject_old_samples: true
  reject_old_samples_max_age: 168h
